.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0 1rem;
    background: rgb(255, 210, 63);
}

.headerLogo {
    height: 28px;
    width: auto;
    margin-left: -1rem;
}

.avatar {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.main {
    flex: 1;
    display: flex;
    gap: 4rem;
    padding: 3rem;
    background: rgb(240, 240, 240);
    background-image: url("../../assets/homepage.jpg");
    background-size: cover;
}

.bigCard {
    flex: 1.7;
    background: rgb(255, 239, 147);
    border-radius: 8px;
    color: rgb(197, 13, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 100px;
    font-weight: 600;
    border: 3px solid rgb(2, 2, 73);
}

.bigCard:hover {
    background: rgb(205, 192, 118);
    cursor: pointer;
}

.sideCards {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.smallCard {
    flex: 1;
    background: rgb(255, 239, 147);
    border-radius: 8px;
    color: rgb(197, 13, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;
    border: 3px solid rgb(2, 2, 73);
}

.smallCard:hover {
    background: rgb(205, 192, 118);
    cursor: pointer;
}

.cardsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    max-height: 100%;
    overflow-y: auto;
}

.cardItem {
    position: relative;
    flex: 0 0 calc(25% - 1rem);
    background: white;
    border: 1px solid rgb(186, 186, 186);
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.cardItemCornFields {
    background-color: rgb(255, 224, 102);
    border: 3.55px solid rgb(210, 180, 140);
}
.cardItemBluePlains {
    background-color: rgb(166, 225, 250);
    border: 3.55px solid rgb(108, 145, 191);
}
.cardItemSandyLands {
    background-color: rgb(249, 210, 157);
    border: 3.55px solid rgb(211, 135, 81);
}
.cardItemUselessSwamp {
    background-color: rgb(108, 117, 125);
    border: 3.55px solid rgb(67, 82, 84);
}
.cardItemNiceLands {
    background-color: rgb(255, 202, 242);
    border: 3.55px solid rgb(255, 160, 137);
}

.cardCost {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: rgb(120, 40, 181);
    color: rgb(217, 201, 229);
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.25rem;
}

.cardRarity {
    position: absolute;
    top: 0.5rem;
    left: 3rem;
    background: rgb(217, 201, 229);
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
}

.cardRarityCool {
    background-color: rgb(38, 255, 0);
}
.cardRarityNice {
    background-color: rgb(0, 119, 255);
}
.cardRarityRare {
    background-color: rgb(255, 183, 0);
}
.cardRarityVeryRare {
    background-color: rgb(144, 0, 255);
}
.cardRarityAlgebraicRare {
    background-color: rgb(255, 0, 17);
}

.cardFaction {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
}

.cardFactionCornFields {
    border: 5px solid rgb(210, 180, 140);
    background-color: rgb(255, 255, 60);
}
.cardFactionBluePlains {
    border: 5px solid rgb(108, 145, 191);
    background-color: rgb(0, 98, 255);
}
.cardFactionSandyLands {
    border: 5px solid rgb(211, 135, 81);
    background-color: rgb(255, 163, 58);
}
.cardFactionUselessSwamp {
    border: 5px solid rgb(67, 82, 84);
    background-color: rgb(175, 175, 175);
}
.cardFactionNiceLands {
    border: 5px solid rgb(255, 160, 137);
    background-color: rgb(255, 108, 235);
}

.cardImage {
    width: 298px;
    height: 281px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.cardImageCornFields {
    border: 5px solid rgb(210, 180, 140);
}
.cardImageBluePlains {
    border: 5px solid rgb(108, 145, 191);
}
.cardImageSandyLands {
    border: 5px solid rgb(211, 135, 81);
}
.cardImageUselessSwamp {
    border: 5px solid rgb(67, 82, 84);
}
.cardImageNiceLands {
    border: 5px solid rgb(255, 160, 137);
}

.cardName {
    font-weight: bold;
    margin: 0.25rem 0;
    text-align: center;
}

.cardAbility {
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.cardStats {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}
